# Node
node_modules/
Caching/node_modules/
package.json
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
.venv

# Temp files
frames/
*.tmp

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
desktop.ini

# transcripts
transcripts/
transcripts_log.txt
transcript.txt

.qoder